/* Reset some default margin and padding */

body {
  min-height: 100vh;
  background-image: url(../asset/african.png);
  background-size: auto;
}

/* Style for the parallax container */
.section1 {
  /* Add your image here */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 {
  background-color: rgba(0, 0, 0, 0.5);

  /* Add your image here */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 {
  background-color: rgb(60, 1, 1);

  /* Add your image here */
  background-size: cover;

  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4 {
  background-color: rgb(0, 0, 0);

  /* Add your image here */

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the content inside the parallax section */
.parallax-content {
  text-align: center;
  color: #fff;
}

/* Style for the main content below the parallax section */
.content {
  padding: 20px;
  background-color: black;
}

/* Additional styles as needed */

/* body,
html {
    height: 100%;
}

.parallax {
    
    background-image: url(/asset/african.png);

   
    height: 100%;

   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
} */

/* 
.pannal1 {
background-image: url(/asset/african.png);
background-size: cover;
height: 100vh;
background-color: rgba(88, 88, 88, 0.5);
background-blend-mode: multiply;
margin: auto;

} */

/* 
.center1 {


}





} */

.pannal2 {
  min-height: 1000px;
  font-size: 36px;

  background-color: red;
}
.displayFont {
  font-size: 150pt;
  text-align: center;
}

.textFont {
  padding-left: 100px;
  padding-right: 100px;
  font-size: 23pt;
  text-align: center;
  font-weight: 700;
}

.textFont2 {
  padding-left: 100px;
  padding-right: 100px;

  font-size: 93pt;
}

.textFont3 {
  padding-left: 100px;
  padding-right: 100px;

  font-size: 25pt;
}

.textFont4 {
  padding-right: 100px;

  font-size: 20pt;
}

.team-member img {
  width: 100%;
  height: auto;
}

.button-round {
  border-radius: 90px;
  border: 2px solid rgba(108, 89, 179, 0.75);
  background: transparent;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .displayFont {
    font-size: 40pt;
    text-align: center;
  }
  .textFont {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 10pt;
    text-align: center;
    font-weight: 300;
  }

  .textFont5 {
    font-size: 10pt;
  }

  .textFont2 {
    text-align: center;

    font-size: 35pt;
  }

  .textFont3 {
    text-align: center;

    font-size: 15pt;
  }

  .textFont4 {
    margin-left: 5px;

    font-size: 10pt;
  }

  svg {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }

  .section1 {
    /* Add your image here */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


